@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body #scrollTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: hsl(303, 10%, 53%);
  position: fixed;
  border: none;
  outline: none;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px;
  display: none;
  cursor: pointer;
}
body #scrollTop i {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

main {
  background-color: hsl(0, 0%, 100%);
}
main #main-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}
main #main-testimonials .sec-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
main #main-testimonials .sec-header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
main #main-testimonials .sec-header .header-content h1 {
  width: 70%;
  color: hsl(300, 43%, 22%);
  font-size: 2.1rem;
  font-weight: 700;
}
main #main-testimonials .sec-header .header-content h1 span {
  color: hsl(37, 86%, 55%);
  font-size: 2.5rem;
}
main #main-testimonials .sec-header .header-content p {
  color: hsl(303, 10%, 53%);
  font-size: 1.3rem;
  font-weight: 400;
}
main #main-testimonials .sec-header .header-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  width: 100%;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0;
  background-color: hsl(300, 27%, 94%);
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 0 0 0 5.7rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
  cursor: pointer;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  position: absolute;
  left: 0;
  background-color: hsl(300, 43%, 22%);
  height: 100%;
  width: 4.5rem;
  border-radius: 0.8rem 0 0 0.8rem;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture .ph-star:nth-child(1) {
  font-size: 1.8rem;
  color: hsl(37, 86%, 55%);
  animation: pulse 1s infinite;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture .ph-star:nth-child(2),
main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture .ph-star:nth-child(3),
main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture .ph-star:nth-child(4),
main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture .ph-star:nth-child(5) {
  font-size: 1.8rem;
  color: hsl(37, 86%, 55%);
  display: none;
  transition: all 0.2s ease-in;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1) p {
  color: hsl(300, 43%, 22%);
  font-size: 1.2rem;
  font-weight: 500;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1):hover picture {
  width: 100%;
  border-radius: 0.8rem;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1):hover picture .ph-star:nth-child(1) {
  animation: none;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(1):hover picture .ph-star:nth-child(2),
main #main-testimonials .sec-header .header-rating .card:nth-child(1):hover picture .ph-star:nth-child(3),
main #main-testimonials .sec-header .header-rating .card:nth-child(1):hover picture .ph-star:nth-child(4),
main #main-testimonials .sec-header .header-rating .card:nth-child(1):hover picture .ph-star:nth-child(5) {
  display: block;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0;
  background-color: hsl(300, 27%, 94%);
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 0 0 0 5.7rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
  cursor: pointer;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  position: absolute;
  left: 0;
  background-color: hsl(300, 43%, 22%);
  height: 100%;
  width: 4.5rem;
  border-radius: 0.8rem 0 0 0.8rem;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture .ph-star:nth-child(1) {
  font-size: 1.8rem;
  color: hsl(37, 86%, 55%);
  animation: pulse 1s infinite;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture .ph-star:nth-child(2),
main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture .ph-star:nth-child(3),
main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture .ph-star:nth-child(4),
main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture .ph-star:nth-child(5) {
  font-size: 1.8rem;
  color: hsl(37, 86%, 55%);
  display: none;
  transition: all 0.2s ease-in;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2) p {
  color: hsl(300, 43%, 22%);
  font-size: 1.2rem;
  font-weight: 500;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2):hover picture {
  width: 100%;
  border-radius: 0.8rem;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2):hover picture .ph-star:nth-child(1) {
  animation: none;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(2):hover picture .ph-star:nth-child(2),
main #main-testimonials .sec-header .header-rating .card:nth-child(2):hover picture .ph-star:nth-child(3),
main #main-testimonials .sec-header .header-rating .card:nth-child(2):hover picture .ph-star:nth-child(4),
main #main-testimonials .sec-header .header-rating .card:nth-child(2):hover picture .ph-star:nth-child(5) {
  display: block;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0;
  background-color: hsl(300, 27%, 94%);
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 0 0 0 5.7rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
  cursor: pointer;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  position: absolute;
  left: 0;
  background-color: hsl(300, 43%, 22%);
  height: 100%;
  width: 4.5rem;
  border-radius: 0.8rem 0 0 0.8rem;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture .ph-star:nth-child(1) {
  font-size: 1.8rem;
  color: hsl(37, 86%, 55%);
  animation: pulse 1s infinite;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture .ph-star:nth-child(2),
main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture .ph-star:nth-child(3),
main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture .ph-star:nth-child(4),
main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture .ph-star:nth-child(5) {
  font-size: 1.8rem;
  color: hsl(37, 86%, 55%);
  display: none;
  transition: all 0.2s ease-in;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3) p {
  color: hsl(300, 43%, 22%);
  font-size: 1.2rem;
  font-weight: 500;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3):hover picture {
  width: 100%;
  border-radius: 0.8rem;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3):hover picture .ph-star:nth-child(1) {
  animation: none;
}
main #main-testimonials .sec-header .header-rating .card:nth-child(3):hover picture .ph-star:nth-child(2),
main #main-testimonials .sec-header .header-rating .card:nth-child(3):hover picture .ph-star:nth-child(3),
main #main-testimonials .sec-header .header-rating .card:nth-child(3):hover picture .ph-star:nth-child(4),
main #main-testimonials .sec-header .header-rating .card:nth-child(3):hover picture .ph-star:nth-child(5) {
  display: block;
}
main #main-testimonials .sec-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  background-color: hsl(300, 43%, 22%);
  width: 100%;
  height: 17rem;
  padding: 0 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user article h3 {
  color: hsl(300, 27%, 94%);
  font-size: 1.3rem;
  font-weight: 500;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user article p {
  color: hsl(333, 80%, 67%);
  opacity: 0.7;
  font-size: 1.2rem;
  font-weight: 400;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-comment p {
  color: hsl(300, 27%, 94%);
  font-size: 1.25rem;
  font-weight: 500;
  text-indent: 0.8rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  background-color: hsl(300, 43%, 22%);
  width: 100%;
  height: 17rem;
  padding: 0 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user article h3 {
  color: hsl(300, 27%, 94%);
  font-size: 1.3rem;
  font-weight: 500;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user article p {
  color: hsl(333, 80%, 67%);
  opacity: 0.7;
  font-size: 1.2rem;
  font-weight: 400;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-comment p {
  color: hsl(300, 27%, 94%);
  font-size: 1.25rem;
  font-weight: 500;
  text-indent: 0.8rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  background-color: hsl(300, 43%, 22%);
  width: 100%;
  height: 17rem;
  padding: 0 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user article h3 {
  color: hsl(300, 27%, 94%);
  font-size: 1.3rem;
  font-weight: 500;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user article p {
  color: hsl(333, 80%, 67%);
  opacity: 0.7;
  font-size: 1.2rem;
  font-weight: 400;
}
main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-comment p {
  color: hsl(300, 27%, 94%);
  font-size: 1.25rem;
  font-weight: 500;
  text-indent: 0.8rem;
}
main #main-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 50vh;
  padding: 2rem;
}
main #main-newsletter .newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
main #main-newsletter .newsletter-content h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
main #main-newsletter .newsletter-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
main #main-newsletter .newsletter-content form .email {
  background-color: hsl(300, 27%, 94%);
  color: hsl(300, 43%, 22%);
  border: 0.1rem solid hsl(300, 43%, 22%);
  outline: none;
  width: 100%;
  height: 3.5rem;
  padding: 0 1.2rem;
  font-size: 1.1rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
}
main #main-newsletter .newsletter-content form .email::-moz-placeholder {
  opacity: 0.5;
}
main #main-newsletter .newsletter-content form .email::placeholder {
  opacity: 0.5;
}
main #main-newsletter .newsletter-content form .submit {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 27%, 94%);
  border: none;
  outline: none;
  width: 100%;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  background-color: hsl(300, 43%, 22%);
  width: 100%;
  height: 50vh;
  padding: 2rem;
}
footer .footer-attribution {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}
footer .footer-attribution a {
  text-decoration: none;
  color: hsl(333, 80%, 67%);
}
footer .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  list-style: none;
}
footer .footer-menu li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
}
footer .footer-creator {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}
footer .footer-creator span {
  color: hsl(333, 80%, 67%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
::-webkit-scrollbar {
  background-color: hsl(300, 27%, 94%);
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(300, 43%, 22%);
  width: auto;
}

::-moz-selection {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
}

::selection {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
}

@media (min-width: 1200px) and (max-width: 1999px) {
  main #main-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100vh;
    padding: 2rem 0;
  }
  main #main-testimonials .sec-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  main #main-testimonials .sec-header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    width: 40%;
  }
  main #main-testimonials .sec-header .header-content h1 {
    width: 70%;
    font-size: 3rem;
  }
  main #main-testimonials .sec-header .header-content h1 span {
    font-size: 3.5rem;
  }
  main #main-testimonials .sec-header .header-content p {
    width: 100%;
    font-size: 1.4rem;
  }
  main #main-testimonials .sec-header .header-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    width: 50%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) {
    width: 57%;
    padding: 0 0 0 5.3rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture {
    width: 4.5rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) p {
    font-size: 1.2rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) {
    width: 57%;
    padding: 0 0 0 5.3rem;
    margin: 0 0 0 8rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture {
    width: 4.5rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) p {
    font-size: 1.2rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) {
    width: 57%;
    padding: 0 0 0 5.3rem;
    margin: 0 0 0 16rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture {
    width: 4.5rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) p {
    font-size: 1.2rem;
  }
  main #main-testimonials .sec-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) {
    width: 26.5%;
    margin: -3rem 0 0 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) {
    width: 26.5%;
    margin: 4rem 0 0 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) {
    width: 26.5%;
    margin: 13.5rem 0 0 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  main #main-newsletter .newsletter-content h1 {
    width: 50%;
    font-size: 3rem;
  }
  main #main-newsletter .newsletter-content form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  main #main-newsletter .newsletter-content form .email {
    width: 35%;
  }
  main #main-newsletter .newsletter-content form .submit {
    width: 11%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .footer-attribution {
    font-size: 1.5rem;
  }
  footer .footer-menu li a {
    font-size: 3rem;
  }
  footer .footer-creator {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  main #main-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100vh;
    padding: 0 2rem 0 2rem;
  }
  main #main-testimonials .sec-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  main #main-testimonials .sec-header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    width: 40%;
  }
  main #main-testimonials .sec-header .header-content h1 {
    width: 90%;
    font-size: 3rem;
  }
  main #main-testimonials .sec-header .header-content h1 span {
    font-size: 3.5rem;
  }
  main #main-testimonials .sec-header .header-content p {
    width: 100%;
    font-size: 1.4rem;
  }
  main #main-testimonials .sec-header .header-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    width: auto;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) {
    width: 63%;
    padding: 0 0 0 5.3rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) picture {
    width: 4.5rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) p {
    font-size: 1.2rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) {
    width: 63%;
    padding: 0 0 0 5.3rem;
    margin: 0 0 0 6rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) picture {
    width: 4.5rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) p {
    font-size: 1.2rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) {
    width: 63%;
    padding: 0 0 0 5.3rem;
    margin: 0 0 0 13rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) picture {
    width: 4.5rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) p {
    font-size: 1.2rem;
  }
  main #main-testimonials .sec-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) {
    width: 30%;
    height: 20rem;
    margin: -3rem 0 0 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) {
    width: 30%;
    height: 20rem;
    margin: 4rem 0 0 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) {
    width: 30%;
    height: 20rem;
    margin: 13.5rem 0 0 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  main #main-newsletter .newsletter-content h1 {
    width: 50%;
    font-size: 3rem;
  }
  main #main-newsletter .newsletter-content form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  main #main-newsletter .newsletter-content form .email {
    width: 40%;
  }
  main #main-newsletter .newsletter-content form .submit {
    width: 16%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .footer-attribution {
    font-size: 1.5rem;
  }
  footer .footer-menu li a {
    font-size: 3rem;
  }
  footer .footer-creator {
    font-size: 1.5rem;
  }
}
@media (min-width: 670px) and (max-width: 999px) {
  main #main-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: auto;
    padding: 2rem;
  }
  main #main-testimonials .sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  main #main-testimonials .sec-header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 70%;
  }
  main #main-testimonials .sec-header .header-content h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
  main #main-testimonials .sec-header .header-content h1 span {
    font-size: 3.5rem;
  }
  main #main-testimonials .sec-header .header-content p {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) {
    width: 70%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) {
    width: 70%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) {
    width: 70%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: auto;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) {
    width: 70%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) {
    width: 70%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) {
    width: 70%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  main #main-newsletter .newsletter-content h1 {
    width: 70%;
    font-size: 2.7rem;
  }
  main #main-newsletter .newsletter-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
  main #main-newsletter .newsletter-content form .email {
    width: 70%;
  }
  main #main-newsletter .newsletter-content form .submit {
    width: 70%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .footer-attribution {
    font-size: 1.5rem;
  }
  footer .footer-menu li a {
    font-size: 3rem;
  }
  footer .footer-creator {
    font-size: 1.5rem;
  }
}
@media (min-width: 430px) and (max-width: 669px) {
  main #main-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: auto;
    padding: 2rem;
  }
  main #main-testimonials .sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  main #main-testimonials .sec-header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
  main #main-testimonials .sec-header .header-content h1 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  main #main-testimonials .sec-header .header-content h1 span {
    font-size: 2.5rem;
  }
  main #main-testimonials .sec-header .header-content p {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) {
    width: 100%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) {
    width: 100%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) {
    width: 100%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: auto;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  main #main-newsletter .newsletter-content h1 {
    width: 100%;
    font-size: 2.4rem;
  }
  main #main-newsletter .newsletter-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
  main #main-newsletter .newsletter-content form .email {
    width: 100%;
  }
  main #main-newsletter .newsletter-content form .submit {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .footer-attribution {
    font-size: 1.3rem;
  }
  footer .footer-menu li a {
    font-size: 2.5rem;
  }
  footer .footer-creator {
    font-size: 1.3rem;
  }
}
@media (max-width: 429px) {
  main #main-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: auto;
    padding: 2rem;
  }
  main #main-testimonials .sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  main #main-testimonials .sec-header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
  main #main-testimonials .sec-header .header-content h1 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  main #main-testimonials .sec-header .header-content h1 span {
    font-size: 2.5rem;
  }
  main #main-testimonials .sec-header .header-content p {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) {
    width: 100%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(1) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) {
    width: 100%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(2) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) {
    width: 100%;
  }
  main #main-testimonials .sec-header .header-rating .card:nth-child(3) p {
    font-size: 1.15rem;
  }
  main #main-testimonials .sec-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: auto;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(1) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(2) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) {
    width: 100%;
    height: 16rem;
    margin: 0;
  }
  main #main-testimonials .sec-footer .footer-cards:nth-child(3) .card-user img {
    width: 3rem;
    height: 3rem;
  }
  main #main-newsletter .newsletter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  main #main-newsletter .newsletter-content h1 {
    width: 100%;
    font-size: 2.2rem;
  }
  main #main-newsletter .newsletter-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
  main #main-newsletter .newsletter-content form .email {
    width: 100%;
  }
  main #main-newsletter .newsletter-content form .submit {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .footer-attribution {
    font-size: 1.3rem;
  }
  footer .footer-menu li a {
    font-size: 2.5rem;
  }
  footer .footer-creator {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */