$color-10: hsl(300, 43%, 22%);
$color-20: hsl(333, 80%, 67%);
$color-30: hsl(303, 10%, 53%);
$color-40: hsl(300, 27%, 94%);
$color-50: hsl(0, 0%, 100%);
$color-60: hsl(37, 86%, 55%);
$shadow-70: rgba(0, 0, 0, 0.35) 0 5px 20px;
$shadow-80: rgba(0, 0, 0, 0.15) 0 5px 20px;